.btn-cotizar {
  display: inline-block;
  background-color: #25D366;
  color: white;
  padding: 18px 40px;
  border-radius: 35px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 30px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.btn-cotizar:hover {
  transform: scale(1.08);
}